@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Young+Serif&display=swap');

:root {
    --cor-primaria: #0F0E0E;
    --cor-secundaria: #647E68;
    --cor-tercearia: #D8D8D8;
    --cor-hover: #562B08;

    --fonte-primaria: 'Young Serif', serif;
    --fonte-secundaria: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}


.titulo-descricao {
    color: var(--cor-tercearia);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria)
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    width: 378px;
    padding: 21.5px 0;
    border-radius: 8px;
    border: 2px solid var(--cor-secundaria);
    font-weight: 100;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Young Serif', serif;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    width: 390px;
}

.rodape {
    display: flex;
    justify-content: center;
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    padding: 24px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}